In [1]:
# 라이브러리 설치
!pip install pandas

Requirement already satisfied: pandas in c:\users\ezen\appdata\local\programs\python\python311\lib\site-packages (2.1.0)
Requirement already satisfied: numpy>=1.23.2 in c:\users\ezen\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ezen\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ezen\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ezen\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\ezen\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
# 라이브러리 로드
import pandas as pd

In [3]:
# 아까 만들어두었던 mod_1을 해당하는 파일 경로 밖으로 잠깐 빼두면
# import mod_1을 쳤을 때
# ModuleNotFoundError이라고 뜸

In [4]:
# pandas를 이용하여 series 형태의 데이터를 생성
# 변수의 이름을 pd_series로 그냥 할거임.
pd_series = pd.Series(
    [5000, 6000, 6500, 6500],
    index = ['아메리카노', '카페라떼', '카페모카', '카푸치노']
)

In [5]:
print(pd_series)

아메리카노    5000
카페라떼     6000
카페모카     6500
카푸치노     6500
dtype: int64

In [6]:
# series 형태의 데이터에서 values, index 값을 따로 출력하려면
print('스리즈 형태의 데이터에서 value의 값들은', pd_series.values)
print('스리즈 형태의 데이터에서 index의 값들은', pd_series.index)

스리즈 형태의 데이터에서 value의 값들은 [5000 6000 6500 6500]
스리즈 형태의 데이터에서 index의 값들은 Index(['아메리카노', '카페라떼', '카페모카', '카푸치노'], dtype='object')

In [8]:
# 데이터프레임 생성(2차원 데이터)
_value = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
_index = ['a','b','c']
_column = ['A','B','C']

# _value, _index, _colums는 입력값, df는 변수 설정한 것
# 맨 앞 _value는 2차원 데이터를 필수로 넣어야 함. 뒤 _index외 _column은 필수는 아님. 일반적으로 index는 지정 안 하는 경우가 많은데, column은 지정하는 경우가 많음)
df = pd.DataFrame(_value, index=_index, columns=_column)

In [11]:
# 데이터프레임은 print를 잘 안 할 거예요. 왜냐하면 그냥 df 찍는 게 더 잘 보이니까요.
print(df)
df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [12]:
# index, columns, values 변수가 데이터프레임에는 존재한다.
print(df.index)
print(df.columns)
print(df.values)

Index(['a', 'b', 'c'], dtype='object')
Index(['A', 'B', 'C'], dtype='object')
[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [13]:
# 데이터프레임의 정보를 출력하는 함수
# info()
# Index와 columns를 보여줌. non-null은 비어있지 않은 데이터. 즉, 값이 있는 데이터가 몇 개인지. 그리고 그 데이터의 타입(Dtype)이 무엇인지. int64(3)는 int타입의 데이터가 3개라는 뜻.
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, a to c
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [16]:
# 딕셔너리 형태의 데이터를 데이터프레임에 대입
_value = {
    'name' : ['test', 'test2', 'test3'],
    'age' : [20, 30, 40],
    'phone' : ['01011112222', '01033334444', '01055556666']
}

# key값들을 column에 하나씩 집어넣어줌.
df2 = pd.DataFrame(_value)

In [17]:
df2

    name  age        phone
0   test   20  01011112222
1  test2   30  01033334444
2  test3   40  01055556666

In [27]:
# 이런 형태의 데이터가 가장 흔함.
_value = [
    {
        'name' : 'test',
        'age' : 20
    },
    {
        'name' : 'test2',
        'age' : 30
    }
]

df3 = pd.DataFrame(_value)

In [28]:
df3

    name  age
0   test   20
1  test2   30

In [29]:
# 외부의 csv 파일 로드
# read_csv({파일의 경로})
# 현재 파일에서 상위 폴더로 이동(../) -> csv 폴더로 이동(csv/) -> corona.csv 이거를 다 연결하면 됨.
corona = pd.read_csv("../csv/corona.csv")

In [30]:
corona

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,NaN,NaN,NaN
1,1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,NaN,NaN
2,2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,NaN,NaN
3,3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,NaN,NaN
4,4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
815,815,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335.0,3.318000
816,816,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647.0,3.458499
817,817,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998.0,3.621744
818,818,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395.0,3.804175
819,819,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144.0,3.919308