In [146]:
# 4번째 파일입니다. 실무 중심

In [147]:
import random
import string #사람 이름 만들려고

In [148]:
# 문자열 랜덤 값을 생성
letter_set = string.ascii_lowercase
letter_set
# 소문자들의 데이터들을 하나 만들어주겠다. 귀찮아서 letter_set으로 걍 만들어봤어요.

'abcdefghijklmnopqrstuvwxyz'

In [149]:
random_data = random.sample(letter_set, 5)
# list를 문자열로 변경
data = "".join(random_data) #비어있는 문자열에 random_data에 있는 내용을 추가해주겠다.
data

'mojdx'

In [150]:
text_length = range(4,10)
email = ['@naver.com', '@gmail.com', '@hanmail.net', '@yahoo.com']

email_list = []
for i in range(1000000): #중복 안 되게 하려고 좀 많이 했음.
    # email_list의 길이가 100일 때 반복문을 종료(break)
    if (len(email_list) == 100):
        break
    random_data = random.sample(letter_set, random.choice(text_length))  #랜덤하게 하나만 선택하겠다.
    
    data = "".join(random_data) + random.choice(email)
    
    # data를 email_list에 대입 -> 해당하는 이메일이 존재하지 않는 경우에만
    if (data not in email_list):
        email_list.append(data)

In [151]:
email_list

['tfdcxgwy@hanmail.net',
 'izyhakf@hanmail.net',
 'camx@hanmail.net',
 'uyema@gmail.com',
 'vixlcd@yahoo.com',
 'vznwdycsf@hanmail.net',
 'fqgmjbhu@gmail.com',
 'umnj@yahoo.com',
 'cspgdhv@hanmail.net',
 'pilfj@hanmail.net',
 'xgvdiewry@hanmail.net',
 'xjqlegt@hanmail.net',
 'tixj@yahoo.com',
 'jlrdifg@gmail.com',
 'atlyqiosc@gmail.com',
 'askrmpo@gmail.com',
 'dzug@yahoo.com',
 'zklfnptx@yahoo.com',
 'qehilc@gmail.com',
 'ojrewi@gmail.com',
 'muwsj@yahoo.com',
 'lpko@naver.com',
 'hcjvxmuz@gmail.com',
 'bprhg@yahoo.com',
 'mqornsli@naver.com',
 'smfqa@hanmail.net',
 'aplsz@naver.com',
 'rqvz@yahoo.com',
 'sgkcy@naver.com',
 'ltdexkoqj@gmail.com',
 'mvcnlqkf@hanmail.net',
 'nizgxrjeb@hanmail.net',
 'vrzedwiy@hanmail.net',
 'zulnks@yahoo.com',
 'ujtlo@gmail.com',
 'dkeql@hanmail.net',
 'xkhedzqt@gmail.com',
 'ubgip@yahoo.com',
 'lsbvd@naver.com',
 'pxaonq@yahoo.com',
 'syfi@hanmail.net',
 'bygnarmdq@yahoo.com',
 'fsbyipmhv@naver.com',
 'xyvzkdgs@gmail.com',
 'aetcd@gmail.com',
 'xsbahuckv@gmail.com',
 'fglejruoa@gmail.com',
 'pcmfkt@yahoo.com',
 'ciewkzm@hanmail.net',
 'ojasbmu@naver.com',
 'vwpchxem@naver.com',
 'diwbjran@naver.com',
 'yakp@yahoo.com',
 'xvsz@gmail.com',
 'gvbh@hanmail.net',
 'byusmv@naver.com',
 'euyhlkcvd@hanmail.net',
 'wxryjk@gmail.com',
 'hvwukocm@gmail.com',
 'vzpja@hanmail.net',
 'vgiub@naver.com',
 'nmtq@yahoo.com',
 'ikgvepxdu@hanmail.net',
 'hrqbzwut@yahoo.com',
 'oaip@gmail.com',
 'kovwplbjg@gmail.com',
 'oqsiaprxu@naver.com',
 'fwyov@yahoo.com',
 'svjektdou@naver.com',
 'prsj@hanmail.net',
 'yxfa@naver.com',
 'twyoe@hanmail.net',
 'tfcjpzyi@gmail.com',
 'jdlexahso@hanmail.net',
 'netao@gmail.com',
 'olmgy@naver.com',
 'oejuhfzik@gmail.com',
 'vdecbja@gmail.com',
 'qdvri@naver.com',
 'fvbluoqm@gmail.com',
 'zjlytders@gmail.com',
 'kcwnobqxp@yahoo.com',
 'qymgba@gmail.com',
 'pdtn@gmail.com',
 'jsfmixtn@yahoo.com',
 'hvqbpd@hanmail.net',
 'fiknxwuds@yahoo.com',
 'dtlwgy@gmail.com',
 'kzbwr@gmail.com',
 'hdklrjib@naver.com',
 'uzhwjlbfp@hanmail.net',
 'fygtmcobl@hanmail.net',
 'sqyxhig@gmail.com',
 'wahesl@hanmail.net',
 'fmjotp@gmail.com',
 'mqdpcgs@hanmail.net',
 'ocbhairw@hanmail.net',
 'awsvqdkzp@naver.com',
 'caqzd@gmail.com',
 'lcdmkoft@gmail.com']

In [152]:
# 입사일 만들기
from datetime import datetime
# datetime 라이브러리 안에 있는 datetime 기능을 가져오겠다.

In [153]:
year = list(range(2017, 2024)) #2017~2023의 자료형 데이터가 만들어질 것임.
month = list(range(1, 13))
day = list(range(1,32))

time1 = []
for i in range(100000):
    y = str(random.choice(year))
    m = str(random.choice(month))
    d = str(random.choice(day))
    #문자열로 일부러 바꿔놓음. 숫자로 걍 놔두면 진짜 숫자끼리 더해짐.
    
    date = y + m + d
    
    try:
        time1.append(datetime.strptime(date, '%Y%m%d')) #strptime은 문자열 타입을 시계열 타입으로 바꾸는거
    except:
        print(date)
        
    if (len(time1) == 100):
        break

2022931
2022230
2018230

In [154]:
time1

[datetime.datetime(2020, 6, 22, 0, 0),
 datetime.datetime(2021, 2, 21, 0, 0),
 datetime.datetime(2020, 8, 10, 0, 0),
 datetime.datetime(2018, 6, 7, 0, 0),
 datetime.datetime(2022, 6, 11, 0, 0),
 datetime.datetime(2017, 3, 9, 0, 0),
 datetime.datetime(2018, 4, 7, 0, 0),
 datetime.datetime(2022, 6, 29, 0, 0),
 datetime.datetime(2020, 4, 26, 0, 0),
 datetime.datetime(2022, 2, 6, 0, 0),
 datetime.datetime(2022, 12, 27, 0, 0),
 datetime.datetime(2023, 2, 14, 0, 0),
 datetime.datetime(2019, 2, 2, 0, 0),
 datetime.datetime(2022, 6, 11, 0, 0),
 datetime.datetime(2022, 6, 13, 0, 0),
 datetime.datetime(2023, 10, 8, 0, 0),
 datetime.datetime(2021, 4, 2, 0, 0),
 datetime.datetime(2019, 5, 5, 0, 0),
 datetime.datetime(2019, 7, 10, 0, 0),
 datetime.datetime(2019, 12, 25, 0, 0),
 datetime.datetime(2022, 12, 3, 0, 0),
 datetime.datetime(2021, 11, 7, 0, 0),
 datetime.datetime(2018, 10, 6, 0, 0),
 datetime.datetime(2017, 5, 31, 0, 0),
 datetime.datetime(2019, 10, 12, 0, 0),
 datetime.datetime(2018, 7, 11, 0, 0),
 datetime.datetime(2018, 7, 19, 0, 0),
 datetime.datetime(2019, 11, 5, 0, 0),
 datetime.datetime(2019, 9, 25, 0, 0),
 datetime.datetime(2018, 10, 25, 0, 0),
 datetime.datetime(2023, 8, 3, 0, 0),
 datetime.datetime(2017, 8, 11, 0, 0),
 datetime.datetime(2017, 2, 11, 0, 0),
 datetime.datetime(2022, 4, 10, 0, 0),
 datetime.datetime(2021, 12, 4, 0, 0),
 datetime.datetime(2018, 5, 30, 0, 0),
 datetime.datetime(2023, 5, 12, 0, 0),
 datetime.datetime(2022, 2, 12, 0, 0),
 datetime.datetime(2020, 10, 19, 0, 0),
 datetime.datetime(2023, 5, 2, 0, 0),
 datetime.datetime(2022, 8, 14, 0, 0),
 datetime.datetime(2021, 10, 16, 0, 0),
 datetime.datetime(2023, 12, 25, 0, 0),
 datetime.datetime(2019, 4, 4, 0, 0),
 datetime.datetime(2018, 12, 20, 0, 0),
 datetime.datetime(2018, 3, 16, 0, 0),
 datetime.datetime(2022, 10, 26, 0, 0),
 datetime.datetime(2023, 1, 7, 0, 0),
 datetime.datetime(2019, 12, 26, 0, 0),
 datetime.datetime(2022, 2, 12, 0, 0),
 datetime.datetime(2019, 12, 17, 0, 0),
 datetime.datetime(2019, 2, 27, 0, 0),
 datetime.datetime(2019, 8, 5, 0, 0),
 datetime.datetime(2018, 11, 30, 0, 0),
 datetime.datetime(2017, 2, 26, 0, 0),
 datetime.datetime(2023, 2, 22, 0, 0),
 datetime.datetime(2017, 1, 9, 0, 0),
 datetime.datetime(2017, 7, 26, 0, 0),
 datetime.datetime(2018, 6, 9, 0, 0),
 datetime.datetime(2022, 8, 19, 0, 0),
 datetime.datetime(2022, 11, 4, 0, 0),
 datetime.datetime(2022, 3, 22, 0, 0),
 datetime.datetime(2021, 6, 25, 0, 0),
 datetime.datetime(2019, 3, 31, 0, 0),
 datetime.datetime(2022, 7, 16, 0, 0),
 datetime.datetime(2023, 6, 30, 0, 0),
 datetime.datetime(2021, 10, 1, 0, 0),
 datetime.datetime(2019, 3, 28, 0, 0),
 datetime.datetime(2020, 7, 7, 0, 0),
 datetime.datetime(2022, 11, 6, 0, 0),
 datetime.datetime(2017, 7, 10, 0, 0),
 datetime.datetime(2021, 7, 25, 0, 0),
 datetime.datetime(2020, 2, 4, 0, 0),
 datetime.datetime(2022, 1, 10, 0, 0),
 datetime.datetime(2019, 3, 28, 0, 0),
 datetime.datetime(2022, 11, 20, 0, 0),
 datetime.datetime(2021, 11, 27, 0, 0),
 datetime.datetime(2022, 6, 30, 0, 0),
 datetime.datetime(2019, 4, 21, 0, 0),
 datetime.datetime(2020, 11, 13, 0, 0),
 datetime.datetime(2018, 7, 11, 0, 0),
 datetime.datetime(2022, 2, 2, 0, 0),
 datetime.datetime(2018, 11, 16, 0, 0),
 datetime.datetime(2021, 9, 22, 0, 0),
 datetime.datetime(2022, 6, 24, 0, 0),
 datetime.datetime(2017, 5, 27, 0, 0),
 datetime.datetime(2018, 1, 10, 0, 0),
 datetime.datetime(2019, 7, 23, 0, 0),
 datetime.datetime(2021, 3, 30, 0, 0),
 datetime.datetime(2018, 4, 2, 0, 0),
 datetime.datetime(2021, 4, 12, 0, 0),
 datetime.datetime(2022, 12, 8, 0, 0),
 datetime.datetime(2017, 8, 14, 0, 0),
 datetime.datetime(2019, 9, 29, 0, 0),
 datetime.datetime(2022, 8, 13, 0, 0),
 datetime.datetime(2019, 5, 5, 0, 0),
 datetime.datetime(2017, 11, 6, 0, 0),
 datetime.datetime(2021, 1, 7, 0, 0),
 datetime.datetime(2022, 6, 23, 0, 0),
 datetime.datetime(2019, 11, 19, 0, 0)]

In [155]:
# 퇴사일 만들겠습니다.(입사일 이후의 날짜가 되어야 합니다.)
year = list(range(2017, 2024))
month = list(range(1, 13))
day = list(range(1,32))

time2 = []

# time1의 인덱스 값 설정
time1_index = 0

for i in range(100000):
    y = str(random.choice(year))
    m = str(random.choice(month))
    d = str(random.choice(day))
    #문자열로 일부러 바꿔놓음. 숫자로 걍 놔두면 진짜 숫자끼리 더해짐.
    
    date = y + m + d
    
    try:
        if (time1[time1_index] < datetime.strptime(date, '%Y%m%d')):
            time2.append(datetime.strptime(date, '%Y%m%d')) #strptime은 문자열 타입을 시계열 타입으로 바꾸는거
            time1_index += 1
    except:
        print(date)
        
    if (len(time2) == 100):
        break

2018231
20171131
2023931
2018431
2017631
2018229
2019631

In [156]:
import pandas as pd

In [157]:
df = pd.DataFrame({
    'email' : email_list,
    '입사일' : time1,
    '퇴사일' : time2
})
# 딕셔너리 형태로 집어넣으면, 키값이 컬럼이 됨.

In [158]:
# 2017년도 재직중인 사람을 찾아보자.
flag = df['입사일'] < '20171231'
flag2 = df['퇴사일'] > '20171231'

In [159]:
flag & flag2

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96     True
97    False
98    False
99    False
Length: 100, dtype: bool

In [160]:
df.loc[flag & flag2]

                    email        입사일        퇴사일
5   vznwdycsf@hanmail.net 2017-03-09 2023-10-06
23        bprhg@yahoo.com 2017-05-31 2022-11-07
31  nizgxrjeb@hanmail.net 2017-08-11 2022-06-11
32   vrzedwiy@hanmail.net 2017-02-11 2018-10-26
54       gvbh@hanmail.net 2017-02-26 2023-05-16
56  euyhlkcvd@hanmail.net 2017-01-09 2021-07-14
57       wxryjk@gmail.com 2017-07-26 2019-11-04
85     hvqbpd@hanmail.net 2017-05-27 2023-12-24
92      sqyxhig@gmail.com 2017-08-14 2020-04-09
96   ocbhairw@hanmail.net 2017-11-06 2019-11-21

In [161]:
# 여러 해를 반복할 수 있는 함수를 만들어보자.
def func_1(_df, _date):
    _date = _date + "1231"
    _date2 = _date + "0101"
    flag = _df['입사일'] < _date
    flag2 = _df['퇴사일'] > _date2
    
    return _df.loc[flag & flag2]

In [162]:
func_1(df, '2023')

Empty DataFrame
Columns: [email, 입사일, 퇴사일]
Index: []

In [163]:
# 231015 폴더에 excel_data 폴더를 하나 만들어놓고 작업해봅시다.

In [164]:
for year in range(2017,2024):
    data = func_1(df, str(year))
    data.to_excel(f"./excel_data/{year}.xlsx")   #.은 현재 폴더를 의미

In [165]:
# 월별로 재직자를 본다면?

In [166]:
import calendar

In [167]:
def func_2(_df, _year, _month):
    if(len(str(_month)) == 1) :
        _date = str(_year) + '0' + str(_month)
    else:
        _date = str(_year) + str(_month)
    _date1 = _date + str(calendar.monthrange(_year, _month)[-1]) #말일을 뽑을 수 있음
    _date2 = _date + '0'+ str(calendar.monthrange(_year, _month)[0])
    print(_date, _date1, _date2)
    flag = df['입사일'] < _date1
    flag = df['퇴사일'] > _date2
    return _df.loc[flag & flag2]

# 선생님이 무식한 방법이래요.

In [168]:
func_2(df, 2017, 2)

201702 20170228 20170202

                   email        입사일        퇴사일
0   tfdcxgwy@hanmail.net 2020-06-22 2021-06-23
1    izyhakf@hanmail.net 2021-02-21 2022-12-31
2       camx@hanmail.net 2020-08-10 2022-10-26
3        uyema@gmail.com 2018-06-07 2021-05-06
4       vixlcd@yahoo.com 2022-06-11 2022-12-22
..                   ...        ...        ...
95   mqdpcgs@hanmail.net 2019-05-05 2020-04-04
96  ocbhairw@hanmail.net 2017-11-06 2019-11-21
97   awsvqdkzp@naver.com 2021-01-07 2021-05-20
98       caqzd@gmail.com 2022-06-23 2023-10-08
99    lcdmkoft@gmail.com 2019-11-19 2022-06-18

[99 rows x 3 columns]

In [172]:
def func_3(_df, _year, _month):
    last_day = calendar.monthrange(_year, _month)[-1]
    first_day = calendar.monthrange(_year, _month)[0]
    _date1 = datetime(_year, _month, last_day)
    _date2 = datetime(_year, _month, first_day+1)
    print(_date1, _date2)
    flag = df['입사일'] < _date1
    flag2 = df['퇴사일'] > _date2
    return _df.loc[flag & flag2]

In [173]:
func_3(df, 2017, 2)

2017-02-28 00:00:00 2017-02-03 00:00:00

                    email        입사일        퇴사일
32   vrzedwiy@hanmail.net 2017-02-11 2018-10-26
54       gvbh@hanmail.net 2017-02-26 2023-05-16
56  euyhlkcvd@hanmail.net 2017-01-09 2021-07-14

In [174]:
# 다중 for문 사용
# 첫번째 for문 (2017 - 2023)
for year in range(2017,2024):
    # 두번째 for문 (1 - 12)
    for month in range(1,13):
        # print(year, month)
        data = func_3(df, year, month)
        data.to_excel(f"./excel_data/{year}-{month}.xlsx")

2017-01-31 00:00:00 2017-01-07 00:00:00
2017-02-28 00:00:00 2017-02-03 00:00:00
2017-03-31 00:00:00 2017-03-03 00:00:00
2017-04-30 00:00:00 2017-04-06 00:00:00
2017-05-31 00:00:00 2017-05-01 00:00:00
2017-06-30 00:00:00 2017-06-04 00:00:00
2017-07-31 00:00:00 2017-07-06 00:00:00
2017-08-31 00:00:00 2017-08-02 00:00:00
2017-09-30 00:00:00 2017-09-05 00:00:00
2017-10-31 00:00:00 2017-10-07 00:00:00
2017-11-30 00:00:00 2017-11-03 00:00:00
2017-12-31 00:00:00 2017-12-05 00:00:00
2018-01-31 00:00:00 2018-01-01 00:00:00
2018-02-28 00:00:00 2018-02-04 00:00:00
2018-03-31 00:00:00 2018-03-04 00:00:00
2018-04-30 00:00:00 2018-04-07 00:00:00
2018-05-31 00:00:00 2018-05-02 00:00:00
2018-06-30 00:00:00 2018-06-05 00:00:00
2018-07-31 00:00:00 2018-07-07 00:00:00
2018-08-31 00:00:00 2018-08-03 00:00:00
2018-09-30 00:00:00 2018-09-06 00:00:00
2018-10-31 00:00:00 2018-10-01 00:00:00
2018-11-30 00:00:00 2018-11-04 00:00:00
2018-12-31 00:00:00 2018-12-06 00:00:00
2019-01-31 00:00:00 2019-01-02 00:00:00
2019-02-28 00:00:00 2019-02-05 00:00:00
2019-03-31 00:00:00 2019-03-05 00:00:00
2019-04-30 00:00:00 2019-04-01 00:00:00
2019-05-31 00:00:00 2019-05-03 00:00:00
2019-06-30 00:00:00 2019-06-06 00:00:00
2019-07-31 00:00:00 2019-07-01 00:00:00
2019-08-31 00:00:00 2019-08-04 00:00:00
2019-09-30 00:00:00 2019-09-07 00:00:00
2019-10-31 00:00:00 2019-10-02 00:00:00
2019-11-30 00:00:00 2019-11-05 00:00:00
2019-12-31 00:00:00 2019-12-07 00:00:00
2020-01-31 00:00:00 2020-01-03 00:00:00
2020-02-29 00:00:00 2020-02-06 00:00:00
2020-03-31 00:00:00 2020-03-07 00:00:00
2020-04-30 00:00:00 2020-04-03 00:00:00
2020-05-31 00:00:00 2020-05-05 00:00:00
2020-06-30 00:00:00 2020-06-01 00:00:00
2020-07-31 00:00:00 2020-07-03 00:00:00
2020-08-31 00:00:00 2020-08-06 00:00:00
2020-09-30 00:00:00 2020-09-02 00:00:00
2020-10-31 00:00:00 2020-10-04 00:00:00
2020-11-30 00:00:00 2020-11-07 00:00:00
2020-12-31 00:00:00 2020-12-02 00:00:00
2021-01-31 00:00:00 2021-01-05 00:00:00
2021-02-28 00:00:00 2021-02-01 00:00:00
2021-03-31 00:00:00 2021-03-01 00:00:00
2021-04-30 00:00:00 2021-04-04 00:00:00
2021-05-31 00:00:00 2021-05-06 00:00:00
2021-06-30 00:00:00 2021-06-02 00:00:00
2021-07-31 00:00:00 2021-07-04 00:00:00
2021-08-31 00:00:00 2021-08-07 00:00:00
2021-09-30 00:00:00 2021-09-03 00:00:00
2021-10-31 00:00:00 2021-10-05 00:00:00
2021-11-30 00:00:00 2021-11-01 00:00:00
2021-12-31 00:00:00 2021-12-03 00:00:00
2022-01-31 00:00:00 2022-01-06 00:00:00
2022-02-28 00:00:00 2022-02-02 00:00:00
2022-03-31 00:00:00 2022-03-02 00:00:00
2022-04-30 00:00:00 2022-04-05 00:00:00
2022-05-31 00:00:00 2022-05-07 00:00:00
2022-06-30 00:00:00 2022-06-03 00:00:00
2022-07-31 00:00:00 2022-07-05 00:00:00
2022-08-31 00:00:00 2022-08-01 00:00:00
2022-09-30 00:00:00 2022-09-04 00:00:00
2022-10-31 00:00:00 2022-10-06 00:00:00
2022-11-30 00:00:00 2022-11-02 00:00:00
2022-12-31 00:00:00 2022-12-04 00:00:00
2023-01-31 00:00:00 2023-01-07 00:00:00
2023-02-28 00:00:00 2023-02-03 00:00:00
2023-03-31 00:00:00 2023-03-03 00:00:00
2023-04-30 00:00:00 2023-04-06 00:00:00
2023-05-31 00:00:00 2023-05-01 00:00:00
2023-06-30 00:00:00 2023-06-04 00:00:00
2023-07-31 00:00:00 2023-07-06 00:00:00
2023-08-31 00:00:00 2023-08-02 00:00:00
2023-09-30 00:00:00 2023-09-05 00:00:00
2023-10-31 00:00:00 2023-10-07 00:00:00
2023-11-30 00:00:00 2023-11-03 00:00:00
2023-12-31 00:00:00 2023-12-05 00:00:00