In [1]:
import pandas as pd

1. csv 폴더에 있는 uriage.csv 로드
2. 데이터의 이상 체크
    - 결측치가 존재하는가?
    - 데이터의 정형화가 잘 되어있는가?
3. 문제가 있는 데이터를 수정(데이터의 전처리)

In [3]:
uriage = pd.read_csv("../csv/uriage.csv")

In [4]:
# 결측치가 존재하는가?
uriage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   purchase_date  2999 non-null   object
 1   item_name      2999 non-null   object
 2   item_price     2612 non-null   float64
 3   customer_name  2999 non-null   object
dtypes: float64(1), object(3)
memory usage: 93.8+ KB

In [5]:
# 결측치의 개수를 확인
uriage.isna().sum()

purchase_date      0
item_name          0
item_price       387
customer_name      0
dtype: int64

In [6]:
uriage.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현

In [9]:
# item_name의 데이터가 대,소문자 문제
# 해결방법 -> 대문자든, 소문자든 하나로 통일
uriage['item_name'].str.upper() #str안에 있는 upper를 쓰겠다.

0         상품A
1       상 품 S
2       상 품 A
3         상품Z
4         상품A
        ...
2994      상품Y
2995      상품M
2996      상품Q
2997      상품H
2998      상품D
Name: item_name, Length: 2999, dtype: object

In [10]:
# item_name의 데이터가 대,소문자 문제
# 해결방법 -> 대문자든, 소문자든 하나로 통일
## 선생님은 upply를 쓰는 걸 추천합니당.

# apply(일반함수)
def change(x):
    # 매개변수 x에 들어오는 데이터는? -> item_name의 각각의 데이터들
    # 매개변수 x의 데이터의 타입은 문자열
    result = x.upper()
    return result
    
uriage['item_name'].apply(change)

0         상품A
1       상 품 S
2       상 품 A
3         상품Z
4         상품A
        ...
2994      상품Y
2995      상품M
2996      상품Q
2997      상품H
2998      상품D
Name: item_name, Length: 2999, dtype: object

In [12]:
# item_name의 데이터가 대,소문자 문제
# 해결방법 -> 대문자든, 소문자든 하나로 통일
## 선생님은 upply를 쓰는 걸 추천합니당.

# apply(lambda함수)

uriage['item_name'].apply(
    lambda x : x.upper()
)

0         상품A
1       상 품 S
2       상 품 A
3         상품Z
4         상품A
        ...
2994      상품Y
2995      상품M
2996      상품Q
2997      상품H
2998      상품D
Name: item_name, Length: 2999, dtype: object

In [17]:
# item_name의 데이터가 문자열 사이에 공백이 존재
# 해결방법 -> 문자열에 공백을 모두 제거
uriage['item_name'].str.replace(' ', '') #str 기능 안에 있는 replace를 쓰겠다.

0       상품A
1       상품S
2       상품a
3       상품Z
4       상품a
       ...
2994    상품Y
2995    상품M
2996    상품Q
2997    상품H
2998    상품D
Name: item_name, Length: 2999, dtype: object

In [20]:
# 스리즈 형태의 데이터를 공백을 제거, 대문자로 변환 (한번에)
def change(x):
    result = x.upper().replace(' ', '')
    return result
    
uriage['item_name'].apply(change)

0       상품A
1       상품S
2       상품A
3       상품Z
4       상품A
       ...
2994    상품Y
2995    상품M
2996    상품Q
2997    상품H
2998    상품D
Name: item_name, Length: 2999, dtype: object

In [21]:
# 스리즈 형태의 데이터를 공백을 제거, 대문자로 변환 (한번에)
def change(x):
    result = x.upper()
    result = result.replace(' ', '')
    return result
    
uriage['item_name'].apply(change)

0       상품A
1       상품S
2       상품A
3       상품Z
4       상품A
       ...
2994    상품Y
2995    상품M
2996    상품Q
2997    상품H
2998    상품D
Name: item_name, Length: 2999, dtype: object

In [22]:
# lambda 사용
uriage['item_name'].apply(
    lambda x : x.upper().replace(' ','')
)

0       상품A
1       상품S
2       상품A
3       상품Z
4       상품A
       ...
2994    상품Y
2995    상품M
2996    상품Q
2997    상품H
2998    상품D
Name: item_name, Length: 2999, dtype: object

In [24]:
# uriage['item_name'].str.upper() #여기까지의 데이터의 형태는 스리즈
# uriage['item_name'].str.upper().replace(" ","") #이렇게 하면 실패

uriage['item_name'].str.upper().str.replace(" ","")

0       상품A
1       상품S
2       상품A
3       상품Z
4       상품A
       ...
2994    상품Y
2995    상품M
2996    상품Q
2997    상품H
2998    상품D
Name: item_name, Length: 2999, dtype: object

In [25]:
uriage['item_name'] = uriage['item_name'].str.upper().str.replace(" ","")

In [26]:
# item_name의 값들의 개수 출력
uriage['item_name'].value_counts()

item_name
상품S    140
상품A    139
상품R    136
상품P    135
상품V    134
상품C    133
상품F    126
상품D    125
상품Q    125
상품O    124
상품W    121
상품N    119
상품T    117
상품J    116
상품X    116
상품I    114
상품B    113
상품M    113
상품L    110
상품G    110
상품K    109
상품H    109
상품U    107
상품E    105
상품Y    102
상품Z      1
Name: count, dtype: int64

In [32]:
import numpy as np

In [33]:
# 결측치에 비교연산자를 사용하면 False로 고정
# nan은 np에서 결측치라는 뜻
a = np.nan
b = np.nan
print(a==b)

False

In [36]:
# item_price의 결측치인 데이터들을 확인

uriage.loc[uriage['item_price'].isna() == 0]

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
3     2019-02-12 23:40       상품Z      2600.0           김재현
5     2019-03-20 19:16       상품S      1900.0           김우진
7      2019-04-18 0:14       상품V      2200.0           김민혁
8     2019-01-10 15:51       상품O      1500.0           김선우
...                ...       ...         ...           ...
2991  2019-02-18 14:36       상품W      2300.0           김우빈
2993   2019-01-25 3:57       상품C       300.0           김이안
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2998   2019-07-21 0:31       상품D       400.0           정준기

[2612 rows x 4 columns]

In [38]:
# ~연산자는 스리즈형태의 데이터가 bool형태일 때 부정연산자로 사용이 가능
uriage.loc[~(uriage['item_price'].isna())]

         purchase_date item_name  item_price customer_name
0     2019-06-13 18:02       상품A       100.0           김가온
3     2019-02-12 23:40       상품Z      2600.0           김재현
5     2019-03-20 19:16       상품S      1900.0           김우진
7      2019-04-18 0:14       상품V      2200.0           김민혁
8     2019-01-10 15:51       상품O      1500.0           김선우
...                ...       ...         ...           ...
2991  2019-02-18 14:36       상품W      2300.0           김우빈
2993   2019-01-25 3:57       상품C       300.0           김이안
2994   2019-02-15 2:56       상품Y      2500.0           김정민
2995   2019-06-22 4:03       상품M      1300.0           김재원
2998   2019-07-21 0:31       상품D       400.0           정준기

[2612 rows x 4 columns]

In [47]:
# 상품A인 경우에는 결측치를 item_name이 상품A이고 item_price의 결측치를 제외한 평균값으로 대체
# item_name은 상품A이다. & item_price가 결측치이다. 조건 두 개

flag = uriage['item_name'] == '상품A'
flag_null = uriage['item_price'].isna()

# 조건식을 이용하여 item_name이 상품A이고, item_price가 결측치인 데이터를 확인
# uriage.loc[ flag & flag_null]

# 조건식을 이용하여 item_name이 상품A이고, item_price가 결측치가 아닌 데이터를 확인
# uriage.loc[ flag & ~flag_null]

# uriage.loc[ flag & ~flag_null , 'item_price'] #loc의 두번째 항에는 보고싶은 column의 조건을 넣으면 걔만 보여줌.

# 상품의 이름이 상품A이고, item_price의 평균값 구하기
# uriage.loc[ flag & ~flag_null , 'item_price'].mean()

price_mean = uriage.loc[ flag & ~flag_null , 'item_price'].mean()

In [49]:
uriage2=uriage.copy()

In [51]:
# 상품A인 데이터에서 item_price가 결측치인 데이터에 price_mean을 대체 (방법 2개)

uriage2.loc[flag & flag_null] = uriage2.loc[flag & flag_null].fillna(price_mean)

In [52]:
uriage2.loc[flag & flag_null]

         purchase_date item_name  item_price customer_name
2     2019-05-11 19:42       상품A       100.0           김유찬
4      2019-04-22 3:09       상품A       100.0           김강현
6     2019-05-18 19:16       상품A       100.0           김재준
14    2019-06-11 12:57       상품A       100.0           김재호
300   2019-04-06 11:06       상품A       100.0           김태인
361    2019-01-21 3:33       상품A       100.0           김진우
667   2019-03-16 17:23       상품A       100.0           김주원
838    2019-06-24 5:06       상품A       100.0           김시호
844    2019-03-15 9:14       상품A       100.0           김강현
957   2019-07-19 14:12       상품A       100.0           김서윤
1260  2019-01-15 22:59       상품A       100.0           김하진
1394  2019-07-07 21:49       상품A       100.0           김은우
1474   2019-04-11 2:22       상품A       100.0           김선우
1892   2019-07-31 1:32       상품A       100.0           김윤찬
1937   2019-02-13 7:28       상품A       100.0           김시환
1977   2019-02-28 4:11       상품A       100.0           김서준
2063  2019-05-25 12:51       상품A       100.0           김재민
2278   2019-07-14 3:39       상품A       100.0           김시우
2636  2019-03-09 14:20       상품A       100.0           김우찬
2669  2019-03-05 20:21       상품A       100.0           김주혁
2732  2019-01-28 22:13       상품A       100.0           김윤호
2821  2019-06-21 11:09       상품A       100.0           김승훈

In [57]:
# 스리즈 형태의 데이터에 = '값'
uriage2['customer_age'] = 20

In [58]:
uriage2['customer_age']

0       20
1       20
2       20
3       20
4       20
        ..
2994    20
2995    20
2996    20
2997    20
2998    20
Name: customer_age, Length: 2999, dtype: int64

In [63]:
# uriage.loc[flag & flag_null, 'item_price'] 
# column을 item_price 하나만 선택해서 스리즈 형태로 결과가 나옴

uriage.loc[flag & flag_null, 'item_price'] = price_mean
# 상품명이 상품A이고 item_price가 결측치인 데이터에 price_mean의 값을 대입

In [64]:
uriage.loc[flag].isna().sum()
# 모든 데이터에 결측치가 없다는 것을 확인할 수 있다.

purchase_date    0
item_name        0
item_price       0
customer_name    0
dtype: int64

In [68]:
# in 연산자
# 자료형 데이터에 해당하는 값이 포함되어 있는지 비교
# not in 연산자
# 자료형 데이터에 해당하는 값이 포함되어 있지 않는 경우를 비교
_list = ['a','b','c']

print(not('a' in _list))
print('a' not in _list)

print('d' in _list)

False
False
False

In [69]:
# item_name의 데이터를 중복데이터가 없이 리스트형태로 출력

# case1(중복된 데이터를 추가하지 않고 새로운 데이터만 배열에 추가)
item_list = []

for item in uriage['item_name']:
    # print(item)
    # item이 item_list에 포함되어 있다면 아무런 행동하지 않는다.
    # 포함되어 있지 않다면 item_list에 item을 추가
    if item not in item_list:
        item_list.append(item)
        
item_list

['상품A',
 '상품S',
 '상품Z',
 '상품V',
 '상품O',
 '상품U',
 '상품L',
 '상품C',
 '상품I',
 '상품R',
 '상품X',
 '상품G',
 '상품P',
 '상품Q',
 '상품Y',
 '상품N',
 '상품W',
 '상품E',
 '상품K',
 '상품B',
 '상품F',
 '상품D',
 '상품M',
 '상품H',
 '상품T',
 '상품J']

In [71]:
# 집합형 데이터로 변환 -> list 형태로 변환
list(set(uriage['item_name']))

['상품P',
 '상품D',
 '상품R',
 '상품T',
 '상품K',
 '상품S',
 '상품Z',
 '상품Q',
 '상품I',
 '상품X',
 '상품H',
 '상품B',
 '상품V',
 '상품A',
 '상품L',
 '상품W',
 '상품Y',
 '상품J',
 '상품F',
 '상품N',
 '상품U',
 '상품E',
 '상품O',
 '상품G',
 '상품M',
 '상품C']

In [75]:
# value_counts()를 이용하여 고유한 값을 출력
uriage['item_name'].value_counts() #에서 index값만 보겠다.

item_name
상품S    140
상품A    139
상품R    136
상품P    135
상품V    134
상품C    133
상품F    126
상품D    125
상품Q    125
상품O    124
상품W    121
상품N    119
상품T    117
상품J    116
상품X    116
상품I    114
상품B    113
상품M    113
상품L    110
상품G    110
상품K    109
상품H    109
상품U    107
상품E    105
상품Y    102
상품Z      1
Name: count, dtype: int64

In [76]:
# value_counts()를 이용하여 고유한 값을 출력
uriage['item_name'].value_counts().index

Index(['상품S', '상품A', '상품R', '상품P', '상품V', '상품C', '상품F', '상품D', '상품Q', '상품O',
       '상품W', '상품N', '상품T', '상품J', '상품X', '상품I', '상품B', '상품M', '상품L', '상품G',
       '상품K', '상품H', '상품U', '상품E', '상품Y', '상품Z'],
      dtype='object', name='item_name')

In [77]:
uriage['item_name'].unique()

array(['상품A', '상품S', '상품Z', '상품V', '상품O', '상품U', '상품L', '상품C', '상품I',
       '상품R', '상품X', '상품G', '상품P', '상품Q', '상품Y', '상품N', '상품W', '상품E',
       '상품K', '상품B', '상품F', '상품D', '상품M', '상품H', '상품T', '상품J'],
      dtype=object)

In [78]:
uriage3=uriage.copy()

In [97]:
item_list

['상품A',
 '상품S',
 '상품Z',
 '상품V',
 '상품O',
 '상품U',
 '상품L',
 '상품C',
 '상품I',
 '상품R',
 '상품X',
 '상품G',
 '상품P',
 '상품Q',
 '상품Y',
 '상품N',
 '상품W',
 '상품E',
 '상품K',
 '상품B',
 '상품F',
 '상품D',
 '상품M',
 '상품H',
 '상품T',
 '상품J']

In [98]:
# item_list 자료형 데이터를 이용하여 반복문 작성
for item in item_list:
    # item 변수에는 item_list의 원소들이 하나씩 대입하여 반복
    # print(item)
    
    flag = uriage['item_name'] == item
    # 'item_name'이 상품 이름일 때,
    flag_null = uriage['item_price'].isna()
    # item_price가 결측치인 것들

    # 조건식을 이용하여 item_name이 상품A이고 item_price가 결측치 아닌 데이터의 평균
    # flag & ~flag_null까지는 index의 조건, 'item_price'는 컬럼 / 그것들의 평균값을 보겠다.
    price_mean = uriage.loc[ flag & ~flag_null , 'item_price'].mean()
    # 상품명의 조건과 item_price가 결측치인 데이터에 item_price컬러 데이터에 price_mean을 대임
    # 결측치를 다 찾아서, price_mean으로 싹 다 바꿔줌.
    uriage.loc[flag & flag_null, 'item_price'] = price_mean

In [80]:
uriage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   purchase_date  2999 non-null   object
 1   item_name      2999 non-null   object
 2   item_price     2999 non-null   float64
 3   customer_name  2999 non-null   object
dtypes: float64(1), object(3)
memory usage: 93.8+ KB

In [84]:
# '상품C'의 데이터 확인. 300.0이라는 데이터밖에 없다. 결측치 잘 채워졌음.
uriage.loc[uriage['item_name'] == '상품C', 'item_price'].value_counts()

# uriage.loc[uriage['item_name'] == '상품D', 'item_price'].value_counts()

item_price
300.0    133
Name: count, dtype: int64

In [92]:
# 또 다른 방법으로도 해봅시다.
# map 함수를 이용하여 결측치 데이터에 대입해보자.
def na_fill(item) :
    flag = uriage3['item_name'] == item
    flag_null = uriage3['item_price'].isna()

    # 조건식을 이용하여 item_name이 상품A이고 item_price가 결측치 아닌 데이터의 평균
    price_mean = uriage3.loc[ flag & ~flag_null , 'item_price'].mean()
    # 상품명의 조건과 item_price가 결측치인 데이터에 item_price컬러 데이터에 price_mean을 대임
    uriage3.loc[flag & flag_null, 'item_price'] = price_mean
    result = f'{item}컬럼 결측치 작업 완료'
    return result

In [93]:
item_list

['상품A',
 '상품S',
 '상품Z',
 '상품V',
 '상품O',
 '상품U',
 '상품L',
 '상품C',
 '상품I',
 '상품R',
 '상품X',
 '상품G',
 '상품P',
 '상품Q',
 '상품Y',
 '상품N',
 '상품W',
 '상품E',
 '상품K',
 '상품B',
 '상품F',
 '상품D',
 '상품M',
 '상품H',
 '상품T',
 '상품J']

In [94]:
list(map(na_fill, item_list))

['상품A컬럼 결측치 작업 완료',
 '상품S컬럼 결측치 작업 완료',
 '상품Z컬럼 결측치 작업 완료',
 '상품V컬럼 결측치 작업 완료',
 '상품O컬럼 결측치 작업 완료',
 '상품U컬럼 결측치 작업 완료',
 '상품L컬럼 결측치 작업 완료',
 '상품C컬럼 결측치 작업 완료',
 '상품I컬럼 결측치 작업 완료',
 '상품R컬럼 결측치 작업 완료',
 '상품X컬럼 결측치 작업 완료',
 '상품G컬럼 결측치 작업 완료',
 '상품P컬럼 결측치 작업 완료',
 '상품Q컬럼 결측치 작업 완료',
 '상품Y컬럼 결측치 작업 완료',
 '상품N컬럼 결측치 작업 완료',
 '상품W컬럼 결측치 작업 완료',
 '상품E컬럼 결측치 작업 완료',
 '상품K컬럼 결측치 작업 완료',
 '상품B컬럼 결측치 작업 완료',
 '상품F컬럼 결측치 작업 완료',
 '상품D컬럼 결측치 작업 완료',
 '상품M컬럼 결측치 작업 완료',
 '상품H컬럼 결측치 작업 완료',
 '상품T컬럼 결측치 작업 완료',
 '상품J컬럼 결측치 작업 완료']

In [99]:
uriage3.isna().sum()
# 결측치가 모두 사라졌다.

purchase_date    0
item_name        0
item_price       0
customer_name    0
dtype: int64